<div class="sidebar">
  <nav class="sidebar-menu">
    <a routerLink="/home" routerLinkActive="active" class="menu-item">
      <i class="fas fa-home"></i>
      <span>Inicio</span>
    </a>
    <a routerLink="/perfil" routerLinkActive="active" class="menu-item">
      <i class="fas fa-user"></i>
      <span>Perfil</span>
    </a>
    <a routerLink="/gestion-usuarios" routerLinkActive="active" class="menu-item">
      <i class="fas fa-users"></i>
      <span>Gestión de Usuarios</span>
    </a>
    <a routerLink="/gestion-activos" routerLinkActive="active" class="menu-item">
      <i class="fas fa-box"></i>
      <span>Gestión de Activo</span>
    </a>
    <a routerLink="/gestion-ambientes" routerLinkActive="active" class="menu-item">
      <i class="fas fa-door-open"></i>
      <span>Gestión de Ambientes</span>
    </a>
    <a routerLink="/estadisticas" routerLinkActive="active" class="menu-item">
      <i class="fas fa-chart-bar"></i>
      <span>Estadísticas</span>
    </a>
    <a routerLink="/config" routerLinkActive="active" class="menu-item">
      <i class="fas fa-cog"></i>
      <span>Configuración</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <a href="#" class="logout-btn">
      <i class="fas fa-sign-out-alt"></i>
      <span>Cerrar Sesión</span>
    </a>
  </div>
</div>
