<app-top-bar (toggleSidebar)="toggleSidebarEmit()"></app-top-bar>
<app-sidebar [active]="sidebarActive"></app-sidebar>

<div class="dashboard-container">

  <!-- Contenido principal -->
  <div class="main-content">

    <!-- Contenido de roles -->
    <div class="content-wrapper">
      <div class="roles-container">
        <!-- Pestañas de navegación -->
        <div class="tabs-container">
          <a class="tab" [routerLink]="'/gestion-usuarios/usuarios-tabla'" routerLinkActive="active">Usuarios</a>
          <a class="tab" [routerLink]="'/gestion-usuarios/roles-tabla'" routerLinkActive="active">Roles</a>
        </div>

        <!-- Tabla de roles -->
        <div class="roles-table-container">
          <table class="roles-table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Funcionalidades</th>
                <th>Usuarios</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Administrador</td>
                <td>Acceso Total</td>
                <td>Acceso Total al Sistema</td>
                <td>{{ getCantidadPorRol('Administrador') }}</td>
              </tr>
              <tr>
                <td>Almacén</td>
                <td>Control de inventario</td>
                <td>Ambientes y Activos</td>
                <td>{{ getCantidadPorRol('Almacén') }}</td>
              </tr>
              <tr>
                <td>Instructor</td>
                <td>Solicitud de Ambientes</td>
                <td>Solicitar y Consultar Ambiente</td>
                <td>{{ getCantidadPorRol('Instructor') }}</td>
              </tr>
              <tr>
                <td>Vigilante</td>
                <td>Supervisión y validación</td>
                <td>Supervisión Ambientes, aprobación solicitudes de ambientes</td>
                <td>{{ getCantidadPorRol('Vigilante') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
      
  </div>
</div>