<header class="top-bar">
  <div class="left-section">
    <h1>Device Control</h1>
    <div class="search-container">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="buscar">
    </div>
  </div>

  <div class="user-actions">
    <button class="icon-btn">
      <i class="fas fa-comment"></i>
    </button>
    <button class="icon-btn">
      <i class="fas fa-bell"></i>
    </button>
    <div class="user-profile">
      <div class="avatar">
        <i class="fa-sharp fa-solid fa-circle-user"></i>
      </div>
      <div class="user-info">
        <h3>Juan Benicio</h3>
        <span>Administrador</span>
      </div>
    </div>
  </div>
</header>