<div class="register-container">
  <div class="register-card">
    <div class="register-header">
      <div class="brand">
        <img src="assets/img/LOGO_FINAL.png" alt="Logo" class="logo">
        <h1>Device Control</h1>
      </div>
      <p>Crea una nueva cuenta, la contraseña y el telefono deben ser asignados despues por el usuario. Clave predeterminada: senagalan</p>
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Nombre de usuario</label>
        <div class="input-container">
          <i class="fas fa-user"></i>
          <input type="text" id="username" [(ngModel)]="registerRequest.nombre" name="username" placeholder="Elige un nombre de usuario" required>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <div class="input-container">
          <i class="fas fa-envelope"></i>
          <input type="email" id="email" [(ngModel)]="registerRequest.email" name="email" placeholder="ejemplo@correo.com" required>
        </div>
      </div>

      <div class="form-group">
        <label class="role-label">Tipo de usuario</label>
        <div class="role-options">
          <div class="role-option">
            <input type="radio" id="role-vigilante" [(ngModel)]="registerRequest.rol" name="role" value="1">
            <label for="role-vigilante">
              <i class="fas fa-shield-alt"></i>
              Vigilante
            </label>
          </div>

          <div class="role-option">
            <input type="radio" id="role-instructor" [(ngModel)]="registerRequest.rol" name="role" value="2">
            <label for="role-instructor">
              <i class="fas fa-chalkboard-teacher"></i>
              Instructor
            </label>
          </div>

          <div class="role-option">
            <input type="radio" id="role-almacen" [(ngModel)]="registerRequest.rol" name="role" value="3">
            <label for="role-almacen">
              <i class="fas fa-warehouse"></i>
              Almacén
            </label>
          </div>
        </div>
      </div>

      <button type="submit" class="register-btn">Crear cuenta</button>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    </form>
  </div>
</div>